{% extends "index.html" %}
{% block content %}
<h1>NFA To DFA Converter Tool</h1>
<br>
<form class="" action="" method="post" enctype="multipart/form-data">
  <div class="content-section">
    <div><h3>Input the NFA</h3> </div>
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">All States</label>
      <input type="text" class="form-control" id="exasdf" name="allStates" placeholder="A B C D">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Starting State</label>
      <input type="text" class="form-control" id="exa" name="ss" placeholder="A">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Ending States</label>
      <input type="text" class="form-control" id="e" name ="es" placeholder="D">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Transition Paths</label>
      <input type="text" class="form-control" id="exasdadf" name="path" placeholder="a b">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Add transitions, <b>𝜹(A,a) = B -> A a B</b></label>
      <input type="text" class="form-control" name ="field[]" value="" placeholder="A a B"><br>
      <div class="input-wrapper"></div>
      <a href="javascript:void(0);" class="add-input btn btn-info btn-sm" title="Add input">Add 𝜹 </a>
    </div><br>
    <div class="text-center"><h4>-------------------OR-------------------<h4></div><br><br>
    <div class="mb-3">
      <label for="formFile" class="form-label"><h3>Upload the NFA as a JSON Object</h3> </label>
      <input class="form-control" type="file" id="formFile" name="file">
    </div><br>
    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-primary mb-3">Get DFA</button>
    </div>
    
  </div>

</form>

{% endblock content %}